__pycache__/
*.pyc
__pycache__/*
*/__pycache__/
*/__pycache__/*

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.pytype/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Custom component specific ignores
custom_components/growatt_smartmeter_emulator/**/__pycache__/
custom_components/growatt_smartmeter_emulator/**/*.pyc
custom_components/growatt_smartmeter_emulator/lib/pymodbus/__pycache__/
