custom_components/growatt_smartmeter_emulator/
__pycache__/
*.pyc
__pycache__/*

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.pytype/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
